/* Google Fonts import  */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

:root {
  --background: #d1deec;
  --foreground: #f1f3f5;
  --white: #fff;
  --grey: #6e6e6e;
  --black: #000;
  --shadow: #76767663;
  --border: #cfcfcf;
  --box-shadow: 0 2px 5px 0 var(--shadow);
}

body {
  background: var(--background);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: #3a78ffec;
}

button:focus,
input:focus {
  border: none;
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
b {
  color: var(--black);
}

a:focus,
a:hover {
  text-decoration: none;
  color: inherit;
}

/* header section styling start here  */
header {
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__container {
  width: 95%;
  background: var(--white);
  height: 100px;
  overflow: hidden;
  padding: 20px;
  border-radius: 20px;
  box-shadow: var(--box-shadow);
}

.header__wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  padding: 0 8px;
  justify-content: space-between;
}

.logo__box {
  width: 7%;
}

.logo__box img {
  width: 64px;
}

.search__box {
  width: 38%;
  position: relative;
}

.icon__box__1 {
  width: 25%;
  display: flex;
  justify-content: space-between;
  padding: 0 25px;
  border-right: 2px solid var(--border);
}
.icon__box__2 {
  width: 25%;
  display: flex;
  justify-content: space-between;
  padding: 0 25px;
  border-right: 2px solid var(--border);
}

.search__box input {
  padding: 15px 45px;
  border-radius: 50px;
  width: 100%;
  background: var(--foreground);
  border: none;
  box-shadow: var(--box-shadow);
  color: var(--black);
}

.search__box i {
  position: absolute;
  top: 19px;
  color: var(--black);
  cursor: pointer;
  transition: 0.4s;
  right: 20px;
}

.search__box i:hover {
  color: #1877f2;
}

.icon__box__1 i,
.icon__box__2 i {
  font-size: 20px;
  background: transparent;
  padding: 10px;
  border-radius: 10px;
  color: #769bcb;
  transition: 0.4s;
}

.icon__box__1 i:hover,
.icon__box__2 i:hover {
  background: #1877f2;
  color: var(--background);
  cursor: pointer;
}

.icon__box__2 lable {
  width: 45px;
  height: 45px;
  overflow: hidden;
  border-radius: 50px;
}

.icon__box__2 lable img {
  width: 100%;
}

.icon__box__2.fa-caret-down {
  position: absolute;
  right: 0;
  font-size: 16px;
  top: 7px;
}

.icon__box__2 .fa-caret-down:hover {
  background: transparent;
}
/* header section styling end here  */
/* home section styling start here  */
/* home section styling end here  */
